<div class="component">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <h1>Bevoegdheden</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <div *ngFor="let account of accounts" style="margin-bottom: 16px;">
          <div class="row">
            <div class="row-item"><strong>Naam: </strong>{{account.username}}</div>
            <div class="row-item">
              <div *ngIf="account.username === username; else select_role" class="row-item">{{account.role}}</div>
              <ng-template #select_role>
                <mat-select
                  placeholder={{account.role}}>
                  <mat-option (click)="updateRole(account, 'LIMITED') "value="LIMITED">LIMITED</mat-option>
                  <mat-option (click)="updateRole(account, 'KM_PRIJS') "value="KM_PRIJS">KM_PRIJS</mat-option>
                  <mat-option (click)="updateRole(account, 'ADMIN') "value="ADMIN">ADMIN</mat-option>
                </mat-select>
              </ng-template>
            </div>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
</div>
