@import '../../../styles/base';

.component {
  margin: 16px auto;
  max-width: $view-max-width;
}

.card {
  margin-bottom: 24px;
}

.card-content {
  padding: 16px;
}

.accordion-content {
  margin-bottom: 16px;
}

.accordion-content-row {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.button-wrapper {
  margin-top: 16px;
  display: flex;
  flex-flow: row nowrap;
}

.submit-button {
  margin-left: auto;
}

.row {
  border-bottom: 1px solid $color-border;
  height: 30px;
  width: 100%;
}

.row-item {
  width: 145px;
  float: left;
}
