<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef>
      Nr.
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.position}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="dateTime">
    <mat-header-cell *matHeaderCellDef>
      Datum tijd
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.dateTime}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="distance">
    <mat-header-cell *matHeaderCellDef>
      Afstand (km)
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.distance | number: '1.2-2'}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="from">
    <mat-header-cell *matHeaderCellDef>
      Van (lat - lon)
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.previousLat }} - {{ element.previousLon }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="to">
    <mat-header-cell *matHeaderCellDef>
      Tot (lat - lon)
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.lat }} - {{ element.lon}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef style="text-align: right">
      Prijs
    </mat-header-cell>
    <mat-cell *matCellDef="let element" style="text-align: right">
      €{{element.price | number: '1.2-2'}}
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
