<div class="component">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <h1>Kilometertarieven</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-list class="rate-list">
        <div class="rate-list-item rate-list-item-header">
          <div class="rate-list-item-column">
            <span>Tarief</span>
          </div>
          <div class="rate-list-item-column">
            <span>Regio</span>
          </div>
          <div class="rate-list-item-column">
            <span>Categorie</span>
          </div>
          <div class="rate-list-item-column">
            <span>Periode</span>
          </div>
          <div class="rate-list-item-column">
            <span>Prijs</span>
          </div>
        </div>
        <div *ngFor="let rate of rates" style="margin-bottom: 16px;">
          <app-rate
            [rate]="rate"
            (updateCallback)="updateRate($event)"
            (deleteCallback)="deleteRate($event)">
          </app-rate>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="role === 'KM_PRIJS'" class="content">
    <mat-card-header>
      <mat-card-title>
        <h1>Nieuw tarief</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <app-rate-form
        [resetAfterSubmit]="true"
        (submitError)="null"
        (rate)="null"
        (parentSubmitCallback)="submitNew($event)">
      </app-rate-form>
    </mat-card-content>
  </mat-card>
</div>
