@import '../../../styles/base';

.component {
  margin: 16px auto;
  max-width: $view-max-width;
}

.card {
  margin-bottom: 24px;
}

.card-content {
  padding: 16px;
}

.rate-list {
  font-size: 16px;
}

.rate-list-item,
.rate-list-item-header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid $color-border;
  text-align: left;

  .mat-icon {
    color: $color-primary;
  }
}

.rate-list-item {
  align-items: center;
}

.rate-list-item-header {
  font-weight: bold;
}

.rate-list-item-column {
  width: calc((100% - 45px) / 5);
}

