<mat-sidenav-container class="component">
  <mat-sidenav #sidebar class="sidebar">
    <mat-nav-list class="sidebar-list">
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['vehicles'] } }]">
        <mat-icon mat-list-icon>directions_car</mat-icon>
        <span matLine>Voertuigen</span>
      </mat-list-item>
      <mat-list-item *ngIf="role === 'ADMIN'" (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['invoices'] } }]">
        <mat-icon mat-list-icon>insert_drive_file</mat-icon>
        <span matLine>Facturen</span>
      </mat-list-item>
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['rates'] } }]">
        <mat-icon mat-list-icon>euro_symbol</mat-icon>
        <span matLine>Kilometertarieven</span>
      </mat-list-item>
      <mat-list-item *ngIf="role === 'ADMIN'" (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['accounts'] } }]">
        <mat-icon mat-list-icon>pan_tool</mat-icon>
        <span matLine>Bevoegdheden</span>
      </mat-list-item>
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['profile'] } }]">
        <mat-icon mat-list-icon>person</mat-icon>
        <span matLine>Profiel</span>
      </mat-list-item>
      <mat-list-item (click)="logout()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span mat-line>Uitloggen</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="sidebar.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="header-title">Overheidsadministratiesysteem</h1>
    <div class="header-avatar-wrapper">
      <img class="header-avatar" [src]="'assets/images/belgian-flag.png'" />
    </div>
  </mat-toolbar>

  <router-outlet name="dashboard"></router-outlet>
</mat-sidenav-container>

