<div class="component">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <h1>Voertuigen</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-accordion class="accordion">
        <mat-expansion-panel
          *ngFor="let vehicleHistory of vehicleHistories; let i = index"
          (opened)="setOpenedVehicleHistory(i)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{vehicleHistory.vehicle.brand + ", " + vehicleHistory.vehicle.model}}
            </mat-panel-title>
            <mat-panel-description>
              <span>{{vehicleHistory.vehicle.licensePlate}}</span>
              <mat-icon style="margin-right: 24px">
                directions_car
              </mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <h3>Voertuig gegevens</h3>
            <div class="accordion-content-row">
              <span><strong>Eigenaar van:</strong></span>
              <span>{{vehicleHistory.fromDate}}</span>
            </div>
            <div class="accordion-content-row">
              <span><strong>Eigenaar tot:</strong></span>
              <span>{{vehicleHistory.tillDate}}</span>
            </div>
          </div>
          <app-vehicle-form [vehicleHistory]="vehicleHistory"></app-vehicle-form>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
