<form #formDirective="ngForm" (submit)="submit(formDirective)" autocomplete="off" >
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Merk"
      [formControl]="brandFormControl">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Model"
      [formControl]="modelFormControl">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Kenteken"
      [formControl]="licensePlateFormControl">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Bouwjaar"
      [formControl]="buildYearFormControl">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Kleur"
      [formControl]="colorFormControl">
  </mat-form-field>
</form>
