<div class="component">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <h1>Facturen</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-accordion class="accordion">
        <mat-expansion-panel
          *ngFor="let invoice of invoices; let i = index"
          (opened)="setOpenedInvoice(i)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Factuur #{{invoice.id}}
            </mat-panel-title>
            <mat-panel-description>
              {{invoice.invoiceDate | date:'dd-MM-yyyy' }}
              <mat-icon *ngIf="invoice.paymentStatus === 'OPEN'" style="margin-right: 24px; color: red" (click)="changePaymentStatus(invoice, 'PAID', $event)">receipt</mat-icon>
              <mat-icon *ngIf="invoice.paymentStatus === 'PAID'" style="margin-right: 24px; color: green" (click)="changePaymentStatus(invoice, 'CANCELLED', $event)">receipt</mat-icon>
              <mat-icon *ngIf="invoice.paymentStatus === 'CANCELLED'" style="margin-right: 24px; color: orange" (click)="changePaymentStatus(invoice, 'OPEN', $event)">receipt</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="accordion-content">
            <h3>Factuurgegevens</h3>
            <div class="accordion-content-row">
              <span><strong>Nummer:</strong></span>
              <span>{{invoice.id}}</span>
            </div>
            <div class="accordion-content-row">
              <span><strong>Datum:</strong></span>
              <span>{{invoice.invoiceDate | date:'dd-MM-yyyy'}}</span>
            </div>
            <div class="accordion-content-row">
              <span><strong>Betaal status:</strong></span>
              <span>{{invoice.paymentStatus}}</span>
            </div>
            <div class="accordion-content-row">
              <span><strong>Car tracker:</strong></span>
              <span>{{invoice.carTracker}}</span>
            </div>
            <div class="accordion-content-row">
              <span><strong>Reishistorie:</strong></span>
            </div>
            <app-invoice-table [invoice]="invoice"></app-invoice-table>
            <div class="accordion-content-row">
              <span><strong>Totale prijs:</strong></span>
              <span style="padding-right: 24px;">
                €{{invoice.totalAmount | number: '1.2-2'}}
              </span>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="button-wrapper">
        <button
          mat-raised-button
          color="primary"
          class="submit-button"
          (click)="generateInvoices()">
          Genereer
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
