<div *ngIf="!isEditing" class="rate-list-item">
  <div class="rate-list-item-column">
    <span>#{{rate.id}}</span>
  </div>
  <div class="rate-list-item-column">
    <span>{{rate.region}}</span>
  </div>
  <div class="rate-list-item-column">
    <span>{{rate.rateCategory}}</span>
  </div>
  <div class="rate-list-item-column">
    <!--<span>{{rate.startDate | date:'MM-DD-YYYY'}} <br/> {{rate.endDate | date:'MM-DD-YYYY'}}</span>-->
    <span>{{rate.startDate }} - <br/> {{rate.endDate }}</span>
  </div>
  <div class="rate-list-item-column">
    <span>€{{rate.ratePrice | number : '1.2-2'}}</span>
  </div>
  <div *ngIf="role === 'KM_PRIJS'" class="icons" style="text-align: right">
    <button mat-icon-button (click)="toggleEditing()">
      <mat-icon mat-list-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="onDelete()">
      <mat-icon mat-list-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="isEditing">
  <app-rate-form
    [resetAfterSubmit]="false"
    [rate]="rate"
    (submitError)="null"
    (parentSubmitCallback)="onUpdate($event)">
  </app-rate-form>
</div>
