@import '../../../styles/base';

.rate-list-item,
.rate-list-item-header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid $color-border;
  text-align: left;

  .mat-icon {
    color: $color-primary;
  }

  .mat-icon-button {
    width: 20px;
  }
}

.rate-list-item {
  align-items: center;
}

.rate-list-item-header {
  font-weight: bold;
}

.rate-list-item-column {
  width: calc((100% - 35px) / 5);
}

.icons {
  width: 45px;
}
