<form #formDirective="ngForm" (submit)="submit(formDirective)" autocomplete="off" >
  <mat-form-field class="field">
    <mat-select
      placeholder="Regio"
      [formControl]="regionFormControl">
      <mat-option *ngFor="let region of regions" [value]="region">
        {{ region }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="categoryFormControl.hasError('required')">
      Regio is <strong>vereist</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-select
      placeholder="Categorie"
      [formControl]="categoryFormControl">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="categoryFormControl.hasError('required')">
      Categorie is <strong>vereist</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      placeholder="Startdatum"
      [matDatepicker]="startDatePicker"
      [formControl]="startDateFormControl">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
    <mat-error *ngIf="startDateFormControl.hasError('required')">
      Start datum <strong>vereist</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      placeholder="Einddatum"
      [matDatepicker]="endDatePicker"
      [formControl]="endDateFormControl">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
    <mat-error *ngIf="endDateFormControl.hasError('required')">
      Eind datum <strong>vereist</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      type="number"
      min="0.01"
      step="0.01"
      placeholder="Prijs"
      [formControl]="priceFormControl">
    <mat-error *ngIf="priceFormControl.hasError('required')">
      Prijs <strong>vereist</strong>
    </mat-error>
  </mat-form-field>
  <div class="button-wrapper">
    <button
      *ngIf="!isDisabled"
      mat-raised-button
      type="submit"
      color="primary"
      class="submit-button">
      Opslaan
    </button>
  </div>
</form>
