<div class="component">
  <mat-card class="content">
    <mat-card-header>
      <mat-card-title>
        <h1>Accountinformatie</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <form (submit)="submit()" autocomplete="off">
        <mat-form-field class="field">
          <input
            matInput
            type="text"
            placeholder="Gebruikersnaam"
            [formControl]="usernameFormControl">
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Gebruikersnaam is <strong>vereist</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="field">
          <input
            matInput
            type="password"
            placeholder="Wachtwoord"
            [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('minlength')">
            wachtwoord moet <strong>minimaal</strong> 6 karakters lang zijn
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Wachtwoord is <strong>vereist</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-select
            disabled
            placeholder="Rol"
            [formControl]="roleFormControl">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="roleFormControl.hasError('required')">
            Bevoegdheden is <strong>vereist</strong>
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="submitError" class="submit-error">
          {{submitError}}
        </mat-error>
        <div class="button-wrapper">
          <button
            mat-raised-button
            type="submit"
            color="primary"
            class="submit-button">
            Opslaan
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
