@import '../../../styles/base';

.overlay {
  position: fixed;

  display: flex;
  align-items: flex-end;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: 1000;
  pointer-events: none;
}

.component {
  border-radius: 2px;
  max-width: 568px;
  min-width: 288px;

  margin: 0 0 16px 16px;

  background: #323232;
  color: #fff;

  transform: translateY(100%) translateY(24px);
  transition: transform 120ms cubic-bezier(0.4, 0, 0.2, 1);

  @include media('<tablet') {
    margin: 0;
    max-width: none;
    width: 100%;
  }
}

.content {
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  font-size: 14px;
}

.show {
  transform: translateY(0%) !important;
}
